.branding .site-title {
  font-size: 16px !important;
}

.branding .site-description {
  font-size: 10px !important;
  margin: 10px 0 !important;
}

.social-links a {
  margin: 0 2px!important;
}

.main-navigation .menu li.menu-item a {
  font-size: 12px !important;
}

.site-footer .widget-title {
  font-size: 16px !important;
}

.slider .slides li {
  background-size: 100% 700px !important;
  background-repeat: no-repeat !important;
}

.ln-solid {
  margin: 10px 0;
}

.breadcrumbs {
  font-size: 10px !important;
  padding: 10px 10px !important;
}

.history {
  margin-bottom: 25px;
}

.history img {
  margin: 0 auto;
}

.team .team-name {
  font-size: 14px !important;
  margin-bottom: 10px !important;
}

.team .team-title {
  font-size: 11px !important;
}

.team .team-description {
  margin-top: 10px;
}

.slide-caption {
  background: rgba(0, 0, 0, 0.5) !important;
}

.slide-caption h2, .slide-caption p {
  color: #FFFFFF;
}
